<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">Parked Vehicles List</h4>
    
    <div class="table-responsive">
      <div class="button-container">
        <button mat-fab class="mb-2 me-2" color="primary" (click)="addentryvehiculedialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
      

        <!-- Registration Number Column -->
        <ng-container matColumnDef="Registrationnumber">
          <th mat-header-cell *matHeaderCellDef> Registration<br> Number </th>
          <td mat-cell *matCellDef="let element"> {{element.Registrationnumber}} </td>
        </ng-container>

        <!-- Vehicle Category Column -->
        <ng-container matColumnDef="Vcategory">
          <th mat-header-cell *matHeaderCellDef> Vehicle <br> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.Vcategory}} </td>
        </ng-container>

        <!-- Owner Full Name Column -->
        <ng-container matColumnDef="ownerfullname">
          <th mat-header-cell *matHeaderCellDef> Owner<br> Full<br> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.ownerfullname}} </td>
        </ng-container>

        <!-- Owner Contact Column -->
        <ng-container matColumnDef="ownercontact">
          <th mat-header-cell *matHeaderCellDef> Owner<br> Contact </th>
          <td mat-cell *matCellDef="let element"> {{element.ownercontact}} </td>
        </ng-container>

        <!-- Station Number Column -->
        <ng-container matColumnDef="stationnumber">
          <th mat-header-cell *matHeaderCellDef> Station<br> Number </th>
          <td mat-cell *matCellDef="let element"> {{element.stationnumber}} </td>
        </ng-container>

        <!-- Entry Date-Time Column -->
        <ng-container matColumnDef="entrydatetime">
          <th mat-header-cell *matHeaderCellDef> Entry<br> Date-Time </th>
          <td mat-cell *matCellDef="let element"> {{element.entrydatetime}} </td>
        </ng-container>

        <!-- Out Date-Time Column -->
        <ng-container matColumnDef="outdatetime">
          <th mat-header-cell *matHeaderCellDef> Out<br> Date-Time </th>
          <td mat-cell *matCellDef="let element"> {{element.outdatetime}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="getStatusStyle(element)"> {{element.status}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="updateVehicle(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteVehicle(element)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="assignVehicle(element)">
              <mat-icon>assignment</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="dataSource.data.length"
                     [pageSize]="3"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
