<mat-card class="w-100">
    <mat-card-content>
      <h4 class="mb-56">Station number  </h4>
      
      <div class="table-responsive">
       
        <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
          <!-- Id Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> status </th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="['badge', 'rounded-pill', element.badgeClass]">{{element.status}}</span>
            </td>
          </ng-container>
          
  
       
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="dataSource.data.length"
                       [pageSize]="3"
                       [pageSizeOptions]="[3, 5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
  