<h4 mat-dialog-title fxLayout="row" fxLayoutAlign="center center" class="dialog-title">Update Protocol</h4>
<div mat-dialog-content fxLayout="column">
    <form fxLayout="column" fxLayoutGap="10px" #form="ngForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.title" name="title" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="data.description" name="description" required></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Steps</mat-label>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let step of data.steps">{{ step }}</mat-chip>
                <input matInput placeholder="Add Step" [matChipInputFor]="chipList"
                       (matChipInputTokenEnd)="addStep($event)" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Updated</mat-label>
            <input matInput [(ngModel)]="data.lastUpdated" name="lastUpdated" type="datetime-local" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Responsible Person</mat-label>
            <input matInput [(ngModel)]="data.responsiblePerson" name="responsiblePerson" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button class="me-8 mb-8" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="me-8 mb-8" (click)="onSave()" color="primary" [disabled]="form.invalid || !data.title || !data.description || !data.steps.length || !data.lastUpdated || !data.responsiblePerson">Save</button>
</div>
