.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
  font-size: 16px; /* Increase font size for table cell text */
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
  font-size: 16px; /* Increase font size for table header text */
  font-weight: bold; /* Make table header text bold */
}

.mat-header-cell {
  font-size: 16px; /* Increase font size for all header cells */
}


