<h1 mat-dialog-title>Add Event</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [(ngModel)]="start" type="datetime-local">
    </mat-form-field>
    <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput [(ngModel)]="end" type="datetime-local">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="allDay">All Day</mat-checkbox>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
</div>