<mat-card class="w-100">
    <mat-card-content>
        <h4 class="mb-32">Add Equipment</h4>

        <form>
            <mat-form-field class="w-100">
                <input matInput placeholder="Name" [(ngModel)]="equipment.name">
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="Work" [(ngModel)]="equipment.work">
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="Project" [(ngModel)]="equipment.project">
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput placeholder="Priority" [(ngModel)]="equipment.priority">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="saveEquipment()">Save</button>
        </form>
    </mat-card-content>
</mat-card>