.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;

  .widget {
    width: 300px;
    margin: 10px;
  }

  mat-card {
    padding: 20px;
    text-align: center;
  }

  mat-card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  mat-card-content {
    h2 {
      font-size: 36px;
      margin: 0;
      color: #3f51b5;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}
