/* CSS ajusté pour aligner les boutons sur une même ligne */
#cal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#cal-date-nav-buttons button,
#cal-view-nav-buttons button {
  background-color: #1b2f5e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  flex: 1; /* Chaque bouton prend autant d'espace que possible */
}

#cal-date-nav-buttons button:hover,
#cal-view-nav-buttons button:hover {
  background-color: #0a74da;
}
