@charset "UTF-8";

/* Container Styling */
#calendar-container {
  max-width: 900px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
#cal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#cal-date-nav-buttons button,
#cal-view-nav-buttons button {
  background-color: #1b2f5e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#cal-date-nav-buttons button:hover,
#cal-view-nav-buttons button:hover {
  background-color: #0a74da;
}

#cal-date-field {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* Calendar Views */
.cal-month-view .cal-header {
  text-align: center;
  font-weight: bolder;
  background-color: #1e90ff;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
}

.cal-month-view .cal-header .cal-cell {
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.cal-month-view .cal-days {
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.cal-month-view .cal-cell-top {
  min-height: 78px;
  flex: 1;
}

.cal-month-view .cal-cell-row {
  display: flex;
}

.cal-month-view .cal-cell {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cal-month-view .cal-event {
  pointer-events: all !important;
}

.cal-month-view .cal-day-cell {
  min-height: 100px;
  border-right: 1px solid #e1e1e1;
}

.cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid #e1e1e1;
}

.cal-month-view .cal-day-badge {
  margin-top: 18px;
  margin-left: 10px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  background-color: #b94a48;
  color: white;
  border-radius: 10px;
  float: left;
}

.cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}

.cal-month-view .cal-events {
  flex: 1;
  align-items: flex-end;
  margin: 3px;
  line-height: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cal-month-view .cal-event {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  background-color: #1e90ff;
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: #e8fde7;
}

.cal-week-view .cal-day-headers {
  display: flex;
  padding-left: 70px;
  border: 1px solid #e1e1e1;
  background-color: #f9f9f9;
}

.cal-week-view .cal-day-headers .cal-header {
  flex: 1;
  text-align: center;
  padding: 5px;
  background-color: #1e90ff;
  color: white;
}

.cal-week-view .cal-event {
  font-size: 12px;
  border: 1px solid #d1e8ff;
  background-color: #1e90ff;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
}

.cal-week-view .cal-time-label-column {
  width: 70px;
  height: 100%;
  background-color: #f9f9f9;
  font-weight: bold;
  text-align: center;
}

.cal-week-view .cal-current-time-marker {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ea4334;
}

.cal-day-view .cal-events-container {
  margin-left: 70px;
  background-color: #ffffff;
  border-radius: 5px;
}

.cal-day-view .cal-current-time-marker {
  margin-left: 70px;
  width: calc(100% - 70px);
  background-color: #ea4334;
}

/* Tooltip Styling */
.cal-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 11px;
  word-wrap: break-word;
  opacity: 0.9;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.cal-tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  border-radius: 0.25rem;
}
