<div class="">
  <div class="row">
    <div class="col-lg-2 col-md-8 col-sm-12 ">
        <div class="buy-flexy pointer">
          <h4 class="text-center">Customers <hr/></h4>
        </div>
      </div>
    <div class="col-lg-2 col-md-8 col-sm-12">
      <div class="buy-flexy pointer">
        <h4 class="text-center">Leads <hr/></h4>
      </div>
    </div>
    <div class="col-lg-2 col-md-8 col-sm-12">
      <div class="pointer">
        <h4 class="text-center">Visits <hr/></h4>
      </div>
    </div>
    <div class="col-lg-2 col-md-8 col-sm-12">
      <div class="text-center pointer">
        <h4>Orders <hr/></h4>
      </div>
    </div>
    <div class="col-lg-2 col-md-8 col-sm-12">
      <div class="text-center pointer">
        <h4>Contracts <hr/></h4>
      </div>
    </div>
    <div class="col-lg-2 col-md-8 col-sm-12">
        <div class=" text-center pointer">
            <h4>Deliveries <hr class=""/></h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <app-sales></app-sales>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12">
      <app-activity></app-activity>
    </div>
  </div>
</div>
