<div class="map-container">
    <h2>Incident Tracking</h2>
    <div class="map-legend-container">
      <div class="legend">
        <h3>Legend</h3>
        <div class="legend-item">
          <img src="assets/incident-icon.png" alt="Incident Icon" class="legend-icon">
          <span>Incident</span>
        </div>
        <div class="legend-item">
          <img src="assets/resource-icon.png" alt="Resource Icon" class="legend-icon">
          <span>Resource</span>
        </div>
      </div>
      <div id="map" class="map"></div>
    </div>
  </div>
  