<h2 mat-dialog-title>Add Event</h2>
<mat-dialog-content class="event-dialog-content">
  <div class="event-details">
    <!-- Left side: Other information -->
    <form (ngSubmit)="onSubmit()" class="event-form">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="event.title" name="title" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="event.start" name="start" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="event.end" name="end" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="event.location" name="location">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="event.description" name="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="event.category" name="category">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max Participants</mat-label>
        <input matInput type="number" [(ngModel)]="event.maxParticipants" name="maxParticipants">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea matInput [(ngModel)]="event.notes" name="notes"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="recipientEmail" name="recipientEmail" required>
      </mat-form-field>
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button color="accent" (click)="sendEmail(recipientEmail)">Envoyer Email</button>
      </div>
      <!-- Button to trigger file input -->
      <input type="file" #fileInput class="custom-file-input" id="customFile" (change)="onFileChanged($event)" hidden>
    </form>
  </div>
  <!-- Right side: Image and Title -->
  <div class="event-preview">
    <button mat-button type="button" (click)="triggerFileInput()">Upload Image</button>
    <div class="image-container">
      <img [src]="event.imageUrl || 'assets/images/default-image.png'" alt="{{ event.title }}" class="event-image" />
      <label class="custom-file-label" for="customFile">{{ selectedFile ? selectedFile.name : 'Choose image...' }}</label>
    </div>
    <div class="title-container">
      <h3>{{ event.title }}</h3>
    </div>
  </div>
</mat-dialog-content>
