// You can use your custom style here. :)

  
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.cdk-overlay-container {
    z-index: 2000; /* Assurez-vous que ce z-index est supérieur à celui de votre modal */
  }
  
  .cdk-overlay-pane {
    z-index: 2000 !important; /* Force le z-index de l'overlay */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
