<div class="notification-list">
    <h2>Notifications</h2>
    <div *ngFor="let notif of notifs" class="notification-card">
      <mat-card>
        <mat-card-header>
          <mat-icon class="notification-icon">notifications</mat-icon>
          <mat-card-title>{{ notif.incident.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="notification-description">
            Un nouvel incident a été signalé : {{ notif.description }}
          </p>
          <p class="notification-date">
            Date: {{ notif.incident.date | date: 'short' }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  