<div class="dashboard-container" fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%" fxFlex.gt-md="25%" class="card-column">
        <mat-card class="menu-card">
            <mat-card-content>
                <h4>Incident Tracking</h4>
                <button mat-raised-button color="primary" [routerLink]="['./incident/map']">Incident Tracking</button>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%" fxFlex.gt-md="25%" class="card-column">
        <mat-card class="menu-card">
            <mat-card-content>
                <h4>Incident Dashboard</h4>
                <button mat-raised-button color="accent" [routerLink]="['./incident/widget']">View Dashboard</button>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%" fxFlex.gt-md="25%" class="card-column">
        <mat-card class="menu-card">
            <mat-card-content>
                <h4>Manage Resources</h4>
                <button mat-raised-button color="warn" [routerLink]="['./ressource']">Manage Resources</button>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%" fxFlex.gt-md="25%" class="card-column">
        <mat-card class="menu-card">
            <mat-card-content>
                <h4>Emergency Contacts</h4>
                <button mat-raised-button color="primary" [routerLink]="['./plan']">Plan d'urgences</button>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%" fxFlex.gt-md="25%" class="card-column">
        <mat-card class="menu-card">
            <mat-card-content>
                <h4>Simulations</h4>
                <button mat-raised-button color="primary" [routerLink]="['./simulation']">Simulations</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
